
#destination .box {
  font-family: 'Merriweather Sans', sans-serif;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
}

#destination .main-box {
  padding: 10px;
}

#destination .main-box:hover {
  -webkit-box-shadow: 3px 3px 11px 5px #d6bfbf;
          box-shadow: 3px 3px 11px 5px #d6bfbf;
}

#destination .box:hover {
  -webkit-box-shadow: 3px 3px 5px #999;
          box-shadow: 3px 3px 5px #999;
}

#destination .box:before,
#destination .box:after {
  content: "";
  background: radial-gradient(circle at 23% 70%, rgba(255, 255, 255, 0.8), #fff 30%);
  width: 150%;
  height: 150%;
  opacity: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: -10.5%;
  right: -150%;
  z-index: 1;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

#destination .box:after {
  background: rgba(255, 255, 255, 0.5);
  width: 65%;
  height: 65%;
  right: auto;
  left: -20%;
  top: -65%;
}

#destination .main-box:hover .box:before {
  opacity: 1;
  right: -85%;
  background: #03a9f4;
}

#destination .main-box:hover:after {
  opacity: 1;
  top: -42%;
}

#destination .box img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#destination .main-box:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#destination .box .box-content {
  text-align: right;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: -100%;
  z-index: 2;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#destination .main-box:hover .box-content {
  right: 5%;
}

#destination .box .title {
  color: #1e272e;
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 3px 0;
}

#destination .box .post {
  font-size: 16px;
  text-transform: capitalize;
  margin: 0 0 10px;
  display: block;
}

#destination .box .icon {
  padding: 0;
  margin: 0;
  list-style: none;
}

#destination .box .icon li {
  display: inline-block;
  margin: 0 4px;
}

#destination .box .icon li a {
  color: #fff;
  background-color: #1e272e;
  font-size: 18px;
  text-align: center;
  line-height: 35px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#destination .box .icon li a:hover {
  color: #1e272e;
  background-color: #fff;
  border-radius: 10%;
  -webkit-box-shadow: 0 0 5px #1e272e inset;
          box-shadow: 0 0 5px #1e272e inset;
}

@media only screen and (max-width: 990px) {
  #destination .box {
    margin: 0 0 30px;
  }
}

@media only screen and (max-width: 479px) {
  #destination .box .title {
    font-size: 20px;
  }
}

#destination .button {
  display: inline-block;
  padding: 0.40rem 1rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.5rem;
  letter-spacing: 0.15rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
}

#destination .button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4729fade;
  border-radius: 10rem;
  z-index: -2;
}

#destination .button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #9c27b0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}

#destination .button:hover {
  color: #fff;
}

#destination .button:hover:before {
  width: 100%;
}


#destination .container {
  padding-top: 50px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}


#destination span {
  display: block;
  margin-top: 2rem;
  font-size: 0.7rem;
  color: #777;
}

#destination span a {
  font-size: 0.7rem;
  color: #999;
  text-decoration: underline;
}

#destination a:focus, #destination a:hover {
  text-decoration: none;
}
/*# sourceMappingURL=Destination.css.map */