table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  #admin-List td span{
    padding: 7px 14px;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }