.navbar{
    height: 62px;
}

#navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    display: block;
    transition: top 0.3s;
    z-index: 9999;
  }

.navbar-nav .nav-link {
    font-size: 15px;
    color: white !important;
    font-weight: 700;
    margin-right: 20px;
    text-transform: uppercase;
}

.navbar-nav .active{
    color: orange !important;
}

.bg-dark{
    animation-name: fadeInDown;
}

.stricky-fixed {
    background: #16171b !important;
    position: fixed !important;
    top: 0 !important;
    left: 0;
    width: 100%;
    z-index: 9999;
    height: 80px;
    line-height: 80px;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown 1s ease-in both;
    animation-name: fadeInDown;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 1s;
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translate3d(0, -40%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

/* side nav */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999999999999;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  #profile li a {
    color: #343a40 !important;
    text-decoration: none;
}