#Testimonial{
  background: url(../../../image/testimonial-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color:white;
}

#Testimonial .ovarly{
  padding: 100px 0;
  background:rgb(43 43 47 / 75%);
}

#Testimonial .person{
  width: 100px;
  height: 100px;
  border-radius:50%;
  margin:auto;
  margin-top: 40px;
}

#Testimonial p{
  font-size: 18px;
  color: rgba(255, 255, 255, 0.863);
}


#Testimonial .swiper {
    width: 100%;
    height: 65vh;
  }

  @media screen and (max-width: 480px) {
    #Testimonial .swiper {
      width: 100%;
      height: 40vh;
    }
  }



.swiper-slide-next {
  
  background: #dc3545 !important;
  
}
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  #Testimonial .swiper-slide img {
    display: block;
    width: 65px;
    height: 65px;
    margin: auto;
    border-radius: 50%;
    object-fit: cover;
  }