#destination-content{
    background-color: rgba(138, 139, 224, 0.5);
    padding: 80px 0;
}

#destination-content h3{
    margin: 0;
}

#destination-content img{
    height: 400px;
    width: 100%;
    object-fit: cover;
}

#destination-content .content p{
    color: #111212ba;
    font-weight: 300;
    font-size: 16px;
    font-style: italic;
}