body{
    background: rgba(255, 255, 255, 0.808);
}
.box{
    font-family: 'Merriweather Sans', sans-serif;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all .5s;
    cursor: pointer;
}

.main-box{
    padding-bottom: 5px;
}

.main-box:hover {
    box-shadow: 3px 3px 11px 5px #d6bfbf;
}

.box:hover{ box-shadow: 3px 3px 5px #999; }
.box:before,
.box:after{
    content: "";
    background: radial-gradient(circle at 23% 70%,rgba(255,255,255,0.8),#fff 30%);
    width: 150%;
    height: 150%;
    opacity: 0;
    transform: rotate(45deg);
    position: absolute;
    top:-10.5%;
    right:-150%;
    z-index: 1;
    transition: all 0.35s ease;
}
.box:after{
    background: rgba(255,255,255,0.5);
    width: 65%;
    height: 65%;
    right: auto;
    left: -20%;
    top: -65%;
}
.main-box:hover .box:before{
    opacity: 1;
    right: -85%;
    background: #03a9f4;
}
.main-box:hover:after{
    opacity: 1;
    top: -42%;
}
.box img{
    width: 100%;
    height: auto;
    transition: all 0.5s ease;
}
.main-box:hover img{ transform: scale(1.2); }
.box .box-content{
    text-align: right;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: -100%;
    z-index: 2;
    transition: all .5s;
}
.main-box:hover .box-content{ right: 5%; }

.box .title{
    color: #1e272e;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 3px 0;
}
.box .post{
    font-size: 16px;
    text-transform: capitalize;
    margin: 0 0 10px;
    display: block;
}
.box .icon{
    padding: 0;
    margin: 0;
    list-style: none;
}
.box .icon li{
    display: inline-block;
    margin: 0 4px;
}
.box .icon li a{
    color: #fff;
    background-color: #1e272e;
    font-size: 18px;
    text-align: center;
    line-height: 35px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: block;
    transition: all 0.3s;
}
.box .icon li  a:hover{
    color: #1e272e;
    background-color: #fff;
    border-radius: 10%;
    box-shadow: 0 0 5px #1e272e inset;
}
@media only screen and (max-width:990px){
    .box { margin: 0 0 30px; }
}
@media only screen and (max-width:479px){
    .box .title{ font-size: 20px; }
}


/* Button style start */

.button {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-decoration: none;
  }
  .button:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4729fade;
    border-radius: 10rem;
    z-index: -2;
  }
  .button:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #9c27b0;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  .button:hover {
    color: #fff;
  }
  .button:hover:before {
    width: 100%;
  }
  
  /* optional reset for presentation */
  * {
    font-family: Arial;
    text-decoration: none;
    font-size: 20px;
  }
  
  .container {
    padding-top: 50px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  
  h1 {
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    color: #777;
  }
  
  span {
    display: block;
    margin-top: 2rem;
    font-size: 0.7rem;
    color: #777;
  }
  span a {
    font-size: 0.7rem;
    color: #999;
    text-decoration: underline;
  }

  a:focus, a:hover {
    text-decoration: none;
}