
/* .nav-link:hover {
    background-color: #525252 !important
} */

.dashboard a:hover {
    color: #fff;
}

.nav-link .fa {
    transition: all 1s
}

.nav-link:hover .fa {
    transform: rotate(360deg)
}
